@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    background-color: #242424;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    display: flex;
    flex-direction: column;
}

.top-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.3);
    padding: 20px;
    font-size: 120%;
}

.top-header ul{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 30px;
    list-style: none;
    text-align: center;
}

.top-header ul li{
    cursor: pointer;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.top-header ul li:hover{
    cursor: pointer;
    width: 150px;
    height: 30px;
    color: orangered;
    border-radius: 5px;
    font-size: 110%;
    transition: 0.5s ease;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
}

/* Panel Home */

.panel-home, .panel-projects, .panel-about-me {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../imgs/bg.webp");
    background-position: center;
    background-size: cover;
}
.panel-home-container, .panel-projects-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 20px;
    width: 100%;
    height: 80%;
    
}

.panel-home-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #242424d7;
    padding: 15px;
    border-radius: 75px 75px 0 0;
}


.panel-home-me-box {
    width: 80%;
    align-self: center;
    text-align: center;
}
.panel-home-me-box h3 {
    font-size: 40px;
    font-weight: 700;
}


.panel-home-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35%;
    gap: 20px;
    background-color: #242424d7;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px -1px 37px 0px rgba(255,255,255,0.75);
}

.panel-home-me-courses, .panel-home-me-technical-knowledge {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 15px;
    border-radius: 0 0 75px 75px;
}

.table-courses {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

.table-courses td {
    text-align: left;
    padding: 10px;
    border: 1px solid #dddddd;
    background-color: rgb(107, 107, 107);
}

.table-courses th {
    text-align: left;
    padding: 10px;
    border: 2px solid #dddddd;
    background-color: rgb(51, 51, 51);
}


.technical-knowledge {
    display: flex;
    flex-direction: row;
    border: 2px solid #dddddd;
    border-radius: 15px;
}

.infobox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    height: 100%;
    padding: 15px;
}

.infobox h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid cornflowerblue;
}

.infobox h3 i {
    color: orangered;
}

.infobox ul {
    list-style: none;
}

.panel-home-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

/* Panel Projects */

.panel-proyects {
    display: none;
}

.panel-projects-info {
    align-self: center;
    text-align: center;
    background-color: #242424;
    box-shadow: 0px 0px 37px 0px rgba(255,255,255,0.75);
    padding: 15px;
    border-radius: 15px;
}

.panel-projects-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    background-color: #242424;
}

.project-card img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.project-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
}

.project-info h2 em {
    color: gray;
}

.project-info p {
    text-align: justify;
}

.project-card-technologys {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.project-card-technology {
    background-color: white;
    color: #242424;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}



.project-card-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: right;
}


/* Icon Colors */

.bi-discord {
    color: #5865f2;
}
.bi-instagram {
    color: #DD2A7B;
}
.bi-tiktok {
    color: white;
}
.bi-twitch {
    color: purple;
}

.bi-steam {
    color: darkblue;
}

.btn-primary {
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: blue;
}

.btn-primary:hover {
    transition: 0.2s ease;
    color: white;
    background-color: rgb(0, 0, 189);
    text-align: center;
}

.btn-primary-disabled {
    cursor: not-allowed;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(163, 163, 163);
    background-color: rgb(0, 0, 189);
}

.btn-primary:active {
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(226, 226, 226);
    background-color: darkblue;
}

.btn-warning {
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: red;
}

.btn-warning:active {
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(226, 226, 226);
    background-color: darkred;
}

.btn-success {
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: green;
}

.btn-success-disabled {
    cursor: not-allowed;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(151, 151, 151);
    background-color: rgb(1, 80, 1);
}

.btn-success:hover {
    transition: 0.2s ease;
    color: white;
    background-color: darkgreen;
    text-align: center;
}

.btn-success:active {
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(226, 226, 226);
    background-color: darkgreen;
}

/* Table Certificated */

#iot-certification, #cybersecurity-certification, #fullstackpython-certification {
    color:gold;
    text-decoration: underline;
}

#iot-certification:hover, #cybersecurity-certification:hover , #fullstackpython-certification:hover {
    color:goldenrod;
    text-decoration: underline;
    cursor: pointer;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .panel-home-content, .panel-home-me-box, .panel-home-me-courses, .panel-home-me-technical-knowledge, .panel-projects-info, .project-card, .aboutme-card, .mypc {
        width: 90%;
    }

    .panel-home-me {
        border-radius: 15px;
    }

    .panel-home-me-courses, .panel-home-me-technical-knowledge {
        border-radius: 15px;
    }

    .panel-about-me-container {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .aboutme-card, .other-card {
        width: 100%;
    }

    .random {
        width: 60%;
        height: auto;
        border-radius: 50%;
    }

    .project-card {
        flex-direction: column;

    }
    .project-card-technologys {
        flex-wrap: wrap;
    }
    .panel-home-btns {
        flex-direction: column;
        align-items: center;
    }
    .technical-knowledge, .table-courses{
        transform: scale(0.8);
    }
    .panel-home-me-technical-knowledge{
        text-align: center;
    }
}

.fade-in {
    animation: fadeIn 0.7s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px);}
    to { opacity: 1; transform: translateY(0);}
}